.hero {
  background: url(/imagens/background.webp) no-repeat center / cover;
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-text {
  color: #fff;
}

.hero-text h1 {
  font-family: "Reey";
  font-weight: 400;
}

.hero-text h2 {
  font-family: "Open Sans";
}

.hero-image {
  padding-top: 10rem;
}

.hero-image img {
  max-width: 25rem;
}
